<div class="card mb-4">
  <div class="card-body bg-light">
    <img src="https://api.angular.schule/avatar/{{book.rating}}" class="float-right img-thumbnail">

    <div class="card-title">
      <h2>{{book.title}} ({{ book.price | currency:'EUR':'symbol':'1.2-2' }})
        <span class="badge badge-secondary">
          <ng-container *ngFor="let s of stars" >
            ⭐️
          </ng-container>
        </span>
      </h2>
    </div>

    <p>
      {{book.description}}
    </p>

    <button (click)="doRateDown()" class="btn btn-primary mr-2">-</button>
    <button (click)="doRateUp()" class="btn btn-primary">+</button>

  </div>
</div>

{{ log() }}
